<h1 >Login: </h1>
<form action="/login" method="post" class="d-flex flex-column gap-2 w-50">
    <input type="text" name="nome" class="form-control" placeholder="User ou E-mail">
    <input type="password" name="password" class="form-control" placeholder="Password">
    <button type="submit" class="btn btn-success">Login</button>
</form>